page-login {

    ion-card{
        border-radius: 15px !important;
        margin-top: 15% !important;
    }

    ion-content{
    background-color: gray !important;
    }

    h2{
        font-size: 20px !important;
    }

    ion-list{
        padding-right: 15px;
    }

    button{
        border-radius:5px !important;
    }
    #select{
        margin-top: 10px !important
    }


}
