page-subject-details-docente {
ion-title{
    text-align: center !important;
    font-weight: bolder !important;
}

#titledescripcionmateria>ion-col>p,h5{
    margin: 0% !important;
    padding: 0% !important;
}
h5,p{
    white-space: normal !important
}


}
